body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

/* HEADER */
.header{
    height: 300px;
    background: url('assets/img/Header.jpeg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.header-text{
    background: rgba(0,0,0,0.5);
    padding: 20px 30px;
    border-radius: 8px;
}

.header h1{
    font-size: 32px;
    margin-bottom: 10px;
}



/* NAVBAR */
.navbar {
    background: #cfe9ff;
    padding: 10px;
}

.navbar a {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* KONTEN */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    font-size: 14px;
}

/* BUTTON */
.btn {
    display: inline-block;
    background: #2c7be5;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}
